.logo {
  font-size: 30px;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search {
  margin-left: auto;
}

ul li a:hover {
  color: rgb(233, 204, 184) !important;
}

/* home page */

.table_container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  padding: 10px;
}
table {
  width: 100%;
}
thead tr {
  background-color: black;
  color: white;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  border-bottom: 1px solid gray !important;
}

tbody tr {
  border: 1px solid lightblue;
  width: 100%;
  font-size: 15px;
  color: rgb(27, 81, 82);
}

tr th,
tr td {
  text-align: center;
  padding: 16px 4px;
}

.action_btn {
  padding: 0 10px;
  cursor: pointer;
  font-weight: 600;
}
table a {
  color: blueviolet !important;
}

.delete_btn {
  color: red !important;
}

.eye_btn {
  cursor: pointer;
  color: gray;
}

/* Add users page  */
.form {
  border-radius: 20px;
  /* background-color: red; */
  background-color: white;
  border: 1px solid gainsboro;
  text-align: center;
}

.input_text_field {
  text-align: left;
  margin: 10px 0;
}

input,
textarea,
select {
  background-color: rgb(243, 242, 242);
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

label {
  color: rgb(20, 84, 84);
  font-weight: 600;
  margin-bottom: 5px;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid rgb(159, 174, 240);
}

.error {
  color: red;
}

.banner {
  width: 100%;
}

.banner {
  background-image: url("https://img.freepik.com/free-vector/worldwide-connection-blue-background-illustration-vector_53876-61764.jpg?w=900&t=st=1679295095~exp=1679295695~hmac=ada9e7a02691ca749486ba07ba7a2ea4bb13f354d850a255e9450209a6ca31c0");
  background-size: cover;
  height: 90vh;
  padding-top: 50px;
}
